@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Font */
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

/* --- Video size --- */
.loader-video {
  height: 250px;
}

@media (max-width: 640px) {
  .loader-video {
    height: 150px;
  }
}

/* --- Horizontal slide for video --- */
@keyframes slide-only {
  0% {
    transform: translate3d(-50vw, -50%, 0);
  }
  100% {
    transform: translate3d(50vw, -50%, 0);
  }
}

/* --- Text reveal effect --- */
@keyframes reveal-text-in-path {
  0%,
  20% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  80% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* --- Animation duration desktop --- */
.animate-slide-only {
  animation: slide-only 4s linear forwards;
}
.animate-reveal-text-in-path {
  animation: reveal-text-in-path 4s linear forwards;
}

/* --- Shorter animations for phones --- */
@media (max-width: 640px) {
  .animate-slide-only {
    animation-duration: 2s;
  }
  .animate-reveal-text-in-path {
    animation-duration: 2s;
  }
}
