@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

@font-face {
  font-family: 'Giaza';
  src: url('/fonts/Giaza.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Buster';
  src: url('/fonts/BusterRegular-YzGoo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
=======
/* Ensure the background covers the entire viewport */
html, body, #root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Smooth scrolling for the entire app */
html {
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
>>>>>>> 345b53c8ada844aa2443573822b1d5809615f831
}